@import "../../globals/styles/variables";

$border: 2px solid $colorPrimary;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.prototype{
  min-height: 100vh;
  margin: 0 auto;
  background-color: $colorNeutralLight;
}

.empty {
  &.hidden {
    display: none;
  }
  &:not(.hidden){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing;
    font-size: $fontSizeNumber;
    font-weight: 700;
    height: 100px;
  }
}

#footer {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-top: 2px solid $colorNeutralMed;
  background-color: $colorNeutralLight;
  margin-top: 50px;
  z-index: 5;

  img {
    width: 50px;
    height: 50px;
  }
}

#chart {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  font-size: $fontSize;
  display: flex;
  flex-direction: column;;
  row-gap: 20px;
  padding-top: 30px;
  font-family: $fontNormal;
  color: $colorNeutralDark;

  a {
    color: $colorTertiary;
    text-decoration: none;
    font-weight: 700;
  }

  strong {
    color: $colorSecondary;
    font-size: $fontSizeNumber;
  }


  h1 {
    margin: 0;
    font-size: $fontSizeLarge;
    font-weight: 700;
    text-align: center;
    background-color: $colorPrimary;
    background-image: linear-gradient(45deg, $colorPrimary, $colorSecondary);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .dropdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 10px;
    justify-content: space-between;
    width: 60%;
    margin:  auto;

    // make dropdown drop over its siblings
    :nth-child(2) {
      z-index: 3;
    }

    :nth-child(4) {
      z-index: 2;
    }

  }

  .filter-label {
    white-space:nowrap;
    // margin-right: 10px;
  }

  .input-container, .input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    input, button {
      font-size: $fontSizeNumber;
      font-family: $fontNormal;
      color: $colorNeutralText;
      height: 36px;
      max-width: 220px;
      text-transform: capitalize;
      padding: 0px 10px;
    }

    input {
      border-radius: 4px 0 0 4px;
      border-left: $border;
      border-top: $border;
      border-bottom: $border;
      border-right: none;
    }

    // hide input arrows
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    button {
      border-radius: 0 4px 4px 0;
      border-left: none;
      border-top: $border;
      border-bottom: $border;
      border-right: $border;
      background-color: white;
      padding: 0px 10px;
      color: $colorNeutralMed;

      cursor: pointer;
    }

  }

  .input-container {
    margin-bottom: $spacing;
  }

  .intro {
    text-align: center;
    font-weight: 500;
    font-size: $fontSizeSmall;
    margin-bottom: $spacing;
    display: flex;
    justify-content: center;
    :first-child{
      width: 60%;
      text-align: justify;
      text-justify: inter-word;
    }
  }

  .grid {
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-size: $fontSize;
    padding-top: 30px;
    // border-top: 1px dashed $colorNeutralDark;
    gap: 80px;

    > div {
      width: 100%;
    }

    &.hidden {
      display: none;
      height: 0;
    }

    &:not(.hidden) {
       display: grid;
    }

    .tick text {
      font-size: $fontSizeSmall;
      // fill: $colorNeutralText;
    }

    text {
      font-family: $fontNormal;
      font-size: $fontSize;
      fill: $colorNeutralText;
      &.donut {
        fill: $colorTertiary;
        stroke: $colorTertiary;
      }
    }

    path.label-donut {
      fill: $colorNeutralMed;
    }
    .pct {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      :first-child {
        width: 200px;
        height: 200px;
        position: relative;

        :first-child {
          display: flex;
          align-items: center;
          font-weight: 700;
          justify-content: center;
          font-size: 40px;
          border: 2px dashed $colorSecondary;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          position: absolute;
        }
        :last-child {
          border: 4px solid $colorPrimary;
          border-radius: 50%;
          position: absolute;
        }
      }

      :last-child {
        padding-top: calc(3 * $spacing);
        font-size: $fontSize;
      }

    }

    .wealth-gap {
      fill: $colorPrimary;
    }
    .area-container, .percent-container, .bar-container, .donut-container {
      text-align: center;
      width: 100%;
      color: $colorNeutralText;
    }

    .donut-container  {
      text-anchor: middle;
    }

    .y-axis-label, .x-axis-label, .label-donut, .pct-label  {
      text-anchor: middle;
      fill: $colorNeutralText;
      text-transform: uppercase;
      font-size: $fontSizeSmall;
    }


  }

   /* When the browser is at least 600px and above */
@media screen and (min-width: 900px) {
  .grid {
    /* Apply some styles */
    grid-template-columns: 1fr 1.5fr;

  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;

  }

  .filter-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dropdown-container {
    justify-content: center;
  }
}

}