@import "../../globals/styles/variables";

$border: 1px solid $colorNeutralMed;

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}
.prototype{
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $colorNeutralLight;
}

.footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-items: space-between;
}

#chart {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid $colorNeutralLight;
  font-size: $fontSize;
  display: flex;
  flex-direction: column;;
  row-gap: 20px;
  padding-top: 30px;
  font-family: $fontNormal;
  color: black;

  h1 {
    font-size: $fontSizeLarge;
    font-weight: 700;
    text-align: center;
    background-color: $colorPrimary;
    background-image: linear-gradient(45deg, $colorPrimary, $colorSecondary);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .dropdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;

    // make dropdown drop over its siblings
    :nth-child(2) {
      z-index: 3;
    }

    :nth-child(4) {
      z-index: 2;
    }

  }

  .filter-label {
    white-space:nowrap;
    // margin-right: 10px;
  }

  .input-container, .input-label {
    display: flex;
    justify-content: center;
    align-items: center;

    input, button {
      font-size: $fontSizeNumber;
      font-family: $fontNormal;
      color: $colorNeutralText;
      height: 36px;
      max-width: 120px;
      text-transform: capitalize;
      padding: 0px 30px;
    }

    input {
      border-radius: 4px 0 0 4px;
      border-left: $border;
      border-top: $border;
      border-bottom: $border;
      border-right: none;
    }

    button {
      border-radius: 0 4px 4px 0;
      border-left: none;
      border-top: $border;
      border-bottom: $border;
      border-right: $border;
      background-color: white;
      padding: 0px 10px;
      color: $colorNeutralMed;

      cursor: pointer;
    }

  }

  .input-container {
    margin-bottom: $spacing;
  }

  .text-wrapper {
    // text-transform: uppercase;
    text-align: center;
    font-weight: 500;
  }

  .intro {
    // text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: $fontSizeSmall;
    margin-bottom: $spacing;
  }

 /* When the browser is at least 600px and above */
@media screen and (min-width: 900px) {
  .grid {
    /* Apply some styles */
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;

  }

  .filter-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

  .grid {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-size: $fontSize;
    padding-top: 30px;
    border-top: 1px dashed $colorNeutralDark;
    gap: 70px;

    .y-axis .tick {
      text {
        text-anchor: end;
      }
    }

    .tick text {
      font-size: $fontSizeSmall;
      color: $colorNeutralText;
    }

    text {
      font-family: $fontNormal;
      text-anchor: middle;
      font-size: $fontSize;
    }

    .pct {
      // font-size: 20px;
      // text-anchor: middle;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      :first-child {
        display: flex;
        align-items: center;
        font-weight: 700;
        justify-content: center;
        font-size: $fontSizeLarge;
        border: 3px solid $colorNeutralDark;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      :last-child {
        margin-top: $spacing;
        font-size: $fontSize;
      }

    }

    .wealth-gap {
      stroke: $colorNeutralDark;
      fill: $colorPrimary;
    }
    .area-container, .percent-container, .bar-container, .donut-container {
      text-align: center;
    }


  }

}