@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Poppins:wght@300;400;500;700&display=swap');
.data-vis {

  &.color {

    --colorSecondary: #F5793A;
    --colorTertiary: #A95AA1;
    --colorPrimary: #85C0F9;
    --textDec: underline;

  }
  &:not(.color) {
    --colorPrimary: #2CB1A5;
    --colorSecondary: #A05E9C;
    --colorTertiary: #DCB32A;
    --textDec: none;
  }
}
$fontNormal: 'Poppins', Arial, sans-serif;

// TYPOGRAPHY
$fontSizeXSmall: 10px;
$fontSizeSmall: 14px;
$fontSize: 18px;
$fontSizeNumber: 20px;
$fontSizeLarge: 38px;

// COLORS
$colorNeutralLight: #f2f2f2;
$colorNeutralMed: #a5a5a5;
$colorNeutralText: #7f7f7f;
$colorNeutralDark: #393838;
$colorPrimary: var(--colorPrimary);
$colorSecondary: var(--colorSecondary);
$colorTertiary: var(--colorTertiary);
$textDec: var(--textDec);

$bold: 700;
$spacing: 10px;

//MIXINS

@mixin vertical-center {
  display: flex;
  align-items: center;
}

@mixin important-text {
  font-weight: $bold;
  font-size: $fontSizeLarge;
}